body {
    background-color: #9ebace;
    margin: 0;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
    height: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

h2 {
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

.tabcontent {
    display: none;
    padding: 0px 0px;
}

.header {
    background-color: lightslategrey;
    color: #f1f1f1;
}

.list {
    border-collapse: separate;
    border-spacing: 0px 19px;
    width: 75%;
}

    .list tr {
        border-radius: 15px;
        background-color: #a0c2db;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

        .list tr:hover {
            animation-name: hoverBright;
            animation-duration: 0.25s;
            filter: brightness(110%);
        }

    .list td {
        border: none;
        background-color: #5D5C61;
        padding: 10px 15px;
        color: #f1f1f1;
        border-left: 1px solid #7e7e7e;
    }
        .list td:first-child {
            border:none;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }

        .list td:last-child {
            border-bottom-right-radius: 7px;
            border-top-right-radius: 7px;
        }

    .list th {
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-left: 1px solid #86a1b9;
    }
        .list th:first-child {
            border: none;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
        }

        .list th:last-child {
            border-bottom-right-radius: 7px;
            border-top-right-radius: 7px;
        }

    .list button {
        width: 100%;
        background-color: #5d5c61;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.imgbutton {
    height:100%;
}

    .imgbutton:hover {
        filter : brightness(150%);
    }

.full_cell {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.full_width {
    width: 100%;
}

.short_width {
    min-width: 50px;
    text-align:center;
}

.label_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    text-align: center;
}

#add_ticket { }

    #add_ticket textarea {
        resize: none;
        width: 100%;
        height: 200px;
        display: block;
        box-sizing: border-box;
    }

    #add_ticket input, select {
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }

#view_ticket_com {
    margin-top: 30px;
}

#add_com input {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

#edit_user_password {
    margin-top:35px;
}

#popup {
    display: block;
    position: fixed;
    right: -100%;
    bottom: 25px;
    padding: 20px 30px;
    background-color:darkseagreen;
    border-radius: 5px;
}

#popup_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

.popup_animation {
    animation-name: moveToLeft;
    animation-duration: 10s;
}

@keyframes moveToLeft {
    0% {
        right: -100%;
    }

    5% {
        right: 25px;
    }

    90% {
        right: 25px;
    }

    100% {
        right: -100%;
    }
}

@keyframes hoverBright {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(110%);
    }
}