* {
    
}

body {
    background-color: #9ebace;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    height: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

h2 {
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #044baa;
            color: white;
        }

.tabcontent {
    display: none;
    padding: 0px 0px;
}

.header {
    border: none;
    border-bottom: 1px solid #7e7e7e;
}

    .header td {
        text-align: center;
        font-size: 20px;
    }

.list {
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 50px;
    margin-top: 50px;
}

    .list tr {
        border-radius: 15px;
        border-left: 2px solid #5d5c61;
        border-right: 2px solid #5d5c61;
        background-color: white;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

        .list tr:hover {
            animation-name: hoverBGColor;
            animation-duration: 0.25s;
            background-color:aliceblue;
        }

        .list tr:last-child {
            border-bottom: 2px solid #5d5c61;
        }

    .list td {
        border: none;
        background-color: #5D5C61;
        padding: 10px 15px;
        color: #f1f1f1;
        border-left: 1px solid #7e7e7e;
        cursor: pointer;
    }

        .list td:first-child {
            border: none;
        }

        .list td:hover {
            animation-name: hoverBright;
            animation-duration: 0.25s;
            filter:brightness(130%);
        }

    .list th {
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-left: 1px solid #86a1b9;
    }

        .list th:first-child {
            border: none;
        }

    .list button {
        width: 100%;
        background-color: #5d5c61;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.list_50 {
    border-collapse: collapse;
    width: 50%;
}

    .list_50 tr {
        border-radius: 15px;
        border-left: 2px solid #5d5c61;
        border-right: 2px solid #5d5c61;
        background-color: white;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

        .list_50 tr:last-child {
            border-bottom: 2px solid #5d5c61;
        }

    .list_50 td {
        border: none;
        background-color: #5D5C61;
        padding: 10px 15px;
        color: #f1f1f1;
        border-left: 1px solid #7e7e7e;
    }

    .list_50 button {
        width: 240px;
        background-color: #044baa;
        color: white;
        cursor: pointer;
        padding:10px;
    }

        .list_50 button:hover {
            animation-name: hoverBright;
            animation-duration: 0.5s;
            filter: brightness(130%);
        }

    .list_50 select {
        border: none;
        outline: none;
    }

.space_50 {
    margin-bottom: 50px;
}

.space_top_50 {
    margin-top: 50px;
}

.bg_yellow {
    background-color: #fdf10070;
}

.bg_green {
    background-color: #3cfd0070;
}

.bg_blue {
    background-color: #005afd70;
    padding: 0px 15px;
}

.bg_red {
    background-color: #fd000070;
}

.imgbutton {
    height:100%;
}

    .imgbutton:hover {
        filter : brightness(150%);
    }

.full_cell {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.full_width {
    width: 100%;
}

.short_width {
    min-width: 50px;
    text-align:center;
}

.label_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    text-align: center;
}

.banner {
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #757575;
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    color: #757575;
}

    .banner h1 {
        margin: 0;
    }

.login {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    border: 2px solid #757575;
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    color: #757575;
}

    .login div {
        display: flex;
        box-sizing: border-box;
    }

    .login input {
        width: 240px;
        padding: 10px;
        margin-bottom: 25px;
        border: none;
        border-bottom: 1px solid #757575;
        outline: none;
        font-size: 17px
    }

        .login input:focus {
            border: none;
            border-bottom: 1px solid #757575;
        }

        .login input[type=submit] {
            width: 100%;
            background-color: #044baa;
            color: white;
            cursor:pointer;
        }
            .login input[type=submit]:hover {
                animation-name: hoverBright;
                animation-duration: 0.5s;
                filter:brightness(130%);
            }

    .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

#add_ticket { }

    #add_ticket textarea {
        resize: none;
        width: 100%;
        height: 200px;
        display: block;
        box-sizing: border-box;
    }

    #add_ticket input, select {
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }

#add_com input {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

#edit_user_password {
    margin-top:35px;
}

#popup {
    display: block;
    position: fixed;
    right: -100%;
    bottom: 25px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
    border: 4px solid #5d5c61;
}

#popup_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

.popup_animation {
    animation-name: moveToLeft;
    animation-duration: 10s;
}

@keyframes moveToLeft {
    0% {
        right: -100%;
    }

    5% {
        right: 25px;
    }

    90% {
        right: 25px;
    }

    100% {
        right: -100%;
    }
}

@keyframes hoverBGColor {
    0% {
        background-color:white;
    }

    100% {
        background-color: aliceblue;
    }
}

@keyframes hoverBright {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(130%);
    }
}